.crewContainer {
  padding: 15px 0 15px 25px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;

  & h5 {
    font-size: 18px;
    margin: 0 0 0 -25px;
    padding: 15px 25px 0;
    border-top: 1px solid #000;
  }
}

.crewList {
  padding: 0 15px 15px 0;
  max-height: 450px;
  overflow-y: auto;
}
