:root {
  --white: #ffffff;
  --bg-color: #f9f4ef;
  --text: #716040;
  --headline: #020826;
  --border: #8c7851;
  --button: #8c7851;
  --button-text: #fffffe;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: var(--text);
  background-color: var(--bg-color);
  margin: 30px auto;
  padding: 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline);
}
